public/workflows/courier_assignment.json
{
    "name": "Courier Assignment",
    "nodes": [
        {
            "parameters": {
                "path": "assign-courier",
                "responseMode": "lastNode",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                100,
                300
            ]
        },
        {
            "parameters": {
                "functionCode": "const orderLocation = items[0].json.location;\n// Logic to find nearest rider\nreturn [{json: {riderId: 'rider_123', phone: '+923001112222'}}];"
            },
            "name": "Find Nearest Rider",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                300,
                300
            ]
        },
        {
            "parameters": {
                "phoneNumber": "={{$node[\"Find Nearest Rider\"].json[\"phone\"]}}",
                "text": "New Order Assigned! Pickup at: {{$node[\"Webhook\"].json[\"body\"][\"address\"]}}"
            },
            "name": "Notify Rider",
            "type": "n8n-nodes-base.whatsapp",
            "typeVersion": 1,
            "position": [
                500,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Find Nearest Rider",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Find Nearest Rider": {
            "main": [
                [
                    {
                        "node": "Notify Rider",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}