public/workflows/order_intake.json
{
    "name": "WhatsApp Order Intake",
    "nodes": [
        {
            "parameters": {
                "path": "whatsapp-webhook",
                "responseMode": "lastNode",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                100,
                300
            ]
        },
        {
            "parameters": {
                "operation": "append",
                "sheetId": "12345abcde",
                "range": "A:D",
                "options": {}
            },
            "name": "Google Sheets",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 1,
            "position": [
                300,
                300
            ]
        },
        {
            "parameters": {
                "phoneNumber": "={{$node[\"Webhook\"].json[\"body\"][\"from\"]}}",
                "text": "Thanks for your order! We have received it."
            },
            "name": "WhatsApp Sender",
            "type": "n8n-nodes-base.whatsapp",
            "typeVersion": 1,
            "position": [
                500,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Google Sheets",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Sheets": {
            "main": [
                [
                    {
                        "node": "WhatsApp Sender",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}